---
import BlogLayout from '../layouts/BlogLayout.astro';
import ArticleDate from '../components/article-date.astro';
import type Frontmatter from '../interfaces/Frontmatter';
const allPosts = await Astro.glob<Frontmatter>('./posts/*.mdx');

const listedPosts = allPosts
  .filter((p) => !p.frontmatter.draft)
  .sort((p1, p2) => {
    if (p1.frontmatter.date === p2.frontmatter.date) {
      return 0;
    }
    return p1.frontmatter.date > p1.frontmatter.date ? 1 : -1;
  });

const description = `Hi! This is my personal blog. Here you can find some articles about life, software development and something about me. First thing about me: I'm not constant in writing and I don't remember how many times I've started a blog.`;
---

<style lang="scss">
  main {
    padding: 0 20px 20px;
  }
  .intro {
    margin: 1.5em 0 3em;
  }
  .articles-listing {
    article {
      font-family: monospace;
      margin-bottom: 3em;
      h2 {
        font-size: 1.8em;
        margin: 0;
        a {
          text-decoration: none;
          color: var(--text-color);
          transition: color 120ms ease-in-out;
          &:hover {
            color: var(--dark-text-color);
          }
        }
      }
      .tags {
        font-size: 0.7em;
        margin: 1em 0 0;
      }
    }
  }
  @media screen and (min-width: 620px) {
    main {
      width: 600px;
      padding: 0;
    }
    .articles-listing article h2 {
      font-size: 2em;
    }
  }
</style>
<BlogLayout title="Blog ~ Andrea Canton" description={description}>
  <main>
    <p class="intro">
      {description}
    </p>
    <p class="intro">
      Feel free to mail me at andreacanton [at] duck [dot] com.
    </p>
    <p class="intro">
      Here my only {listedPosts.length} articles I've published.
    </p>
    <section class="articles-listing">
      {
        listedPosts.map((post) => (
          <article>
            <div class="meta">
              <ArticleDate date={post.frontmatter.date} />
            </div>
            <h2>
              <a href={post.url}>{post.frontmatter.title}</a>
            </h2>
            {post.frontmatter.subtitle && (
              <p class="subtitle">{post.frontmatter.subtitle}</p>
            )}
            {post.frontmatter.tags && (
              <p class="tags">{post.frontmatter.tags}</p>
            )}
          </article>
        ))
      }
    </section>
  </main>
</BlogLayout>
