---
import BlogLayout from './BlogLayout.astro';
import ArticleDate from '../components/article-date.astro';
import Frontmatter from '../interfaces/Frontmatter';
let { frontmatter } = Astro.props;
frontmatter = frontmatter as Frontmatter;

const text = `${frontmatter.canonicalUrl} via @andreacanton`;
const twitterShareUrl = `https://twitter.com/intent/tweet?text=${encodeURI(
  text
)}`;
---

<style lang="scss">
  .meta { 
    font-family: monospace;
  }
  main {
    padding: 0 20px 20px;
  }
  footer {
    border-top: 10px solid var(--grey);
    padding: 2em 20px 0;
  }
  @media screen and (min-width: 620px) {
    main,
    footer {
      width: 600px;
      padding: 2em 0 0;
    }
  }
</style>
<BlogLayout
  title={`${frontmatter.title} ~ Andrea Canton`}
  canonicalUrl={frontmatter.canonicalUrl}
>
  <main>
    <div class="meta">
      <ArticleDate date={frontmatter.date} />
    </div>
    <h1>{frontmatter.title}</h1>
    <slot />
  </main>
  <footer>
    <p>
      Write me to andreacanton [at] duck [dot] com. <br />
      Ok, now you can <a href="/blog/">read other articles</a>.
    </p>
    {
      frontmatter.lastUpdate && (
        <p class="last-update">
          Ultimo aggiornamento: {frontmatter.lastUpdate}
        </p>
      )
    }
  </footer>
</BlogLayout>
